@import url("https://fonts.googleapis.com/css?family=Consolas");

*{
 font-family:"Consolas"
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;

 margin:0;
 padding:0;
}
html,body{
 width:100%;
 height:100%;
}
#container{
	display:table;
	width:100%;
	height:100%;
}
#container img,#container p{
	width:25%;
	height:33.33%;
}
#container img{z-index:10;}
#container p{z-index:5;}
#container img:hover{
	-webkit-filter:blur(3px);
	filter:blur(3px);
	z-index:1;
}
